.bg-dark {
    --bs-bg-opacity: 1;
    
    background-color:black !important;}

.bg-primary {
    background-image:url("HeroImage.jpg")!important;
    background-color: blueviolet !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
}

.carousel-inner img {
   margin:auto;   
}
.carousel-inner > .item > img {width:640px;height:360px;}
h1 {color:white !important;
    font-size: 80px !important;
    border-bottom-width: thick !important;
    font-style: oblique !important;
    font-family:monospace;
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
}
p   {
    text-align: center;
    text-decoration-color: aqua;
    text-emphasis: 100px;
}


    
}
li {
    text-align: center;
}

body {
    
    color:black;
    background-image:url("BodyImage.jpg")!important;
    
   
    background-color:darkslateblue;

}
    
   .bg-light {
    
    text-decoration-color:blueviolet !important;
    background-color:deepskyblue !important;
}
      
button{background-color:deepskyblue !important;}

.btn-light {
    color:black!important;
    background-color:deepskyblue !important;
    border-color:deepskyblue !important;
    }

carousel 
{position: center;

}
/* ADD YOUR CUSTOM CSS TO THIS FILE */
